        <ul id="mainnav">
            <li>
                <a href="/bar-work/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span> <!--  icon-pencil  -->
                <span> 工作 </span>
            </a>
            </li>
            <li>
            <a href="/bar-technology/">
                <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
                <span> 技术 </span>
            </a>
            </li>
            <li>
            <a href="/bar-favor/">
                <span class="icon"> <i aria-hidden="true" class="icon-leaf"></i></span>
                <span> 爱好 </span>
            </a>
            </li>
            
            <li>
            <a href="/bar-living/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> 生活 </span>
            </a>
            </li>
            
            <li>
            <a href="/tags/">
                <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
                <span> Tags </span>
            </a>
            </li>
            
            <li>
            <a href="/about">
                <span class="icon"> <i aria-hidden="true" class="icon-heart"></i></span>
                <span> 关于 </span>
            </a>
            </li>
        </ul>
